<!DOCTYPE html>
<html ng-app="statoportApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Mashups with google.maps.Data</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  </head>
  <body ng-controller="formController">
    <div id="data-form">
        <img id="logo-img" src="img/statoportlogo5.png" alt="Logotype">
        <img id="shadow-img" src="img/shadow.jpg" alt="shadow">

        <div id="quiz">

            <form id="startQuiz">
                <h1>Want to know which state suits you best?</h1>
                <p>You will need to answer only 5 questions.</p> 
                <br> 
                <button type="submit" id="fromStartTo1" ng-model="states" ng-click="getAllStates()">Start</button>
            </form>
        
            <form id="question1">
                <h1>Question 1 (of 5)</h1>
                <p>What do you like more the snow or the heat?</p>

                <input type="radio" id="radio-one" class="form-radio" ng-model="question.q1" value="cold"><label for="radio-one">Cold</label>
                <br>
                <input type="radio" id="radio-one" class="form-radio" ng-model="question.q1" value="heat"><label for="radio-one">Heat</label>
                <br> <br>
                <button type="submit" id="from1to2" ng-click="getStatesQ1()">Next</button>
            </form>
           
            <form id="question2">
                <h1>Question 2 (of 5)</h1>
                <p>How important is your safety to you?</p>
                <input type="radio" id="radio-one" class="form-radio" ng-model="question.q2" value="yes"><label for="radio-one">Important</label>
                <br>
                <input type="radio" id="radio-one" class="form-radio" ng-model="question.q2" value="no"><label for="radio-one">Not important</label>
                <br> <br>
                <button type="submit" id="from2to3" ng-click="getStatesQ2()">Next</button>
            </form>

            <form id="question3">
                <h1>Question 3 (of 5)</h1>
                <p>How important is living in a region with high average household income?</p>
                <input type="radio" id="radio-one" class="form-radio" ng-model="question.q3" value="yes"><label for="radio-one">Important</label>
                <br>
                <input type="radio" id="radio-one" class="form-radio" ng-model="question.q3" value="no"><label for="radio-one">Not important</label>
                <br> <br>
                <button type="submit" id="from3to4" ng-click="getStatesQ3()">Next</button>
            </form>

            <form id="question4">
                <h1>Question 4 (of 5)</h1>
                <p>What kind of population do you like?</p>
                <input type="radio" id="radio-one" class="form-radio" ng-model="question.q4" value="less"><label for="radio-one">The less the better</label>
                <br>
                <input type="radio" id="radio-one" class="form-radio" ng-model="question.q4" value="dense"><label for="radio-one">Dense population</label>
                <br> <br>
                <button type="submit" id="from4to5" ng-click="getStatesQ4()">Next</button>
            </form>

            <form id="question5">
                <h1>Question 5 (of 5)</h1>
                <p>Availability of national parks</p>
                <input type="radio" id="radio-one" class="form-radio" ng-model="question.q5" value="yes"><label for="radio-one">I love nature and parks</label>
                <br>
                <input type="radio" id="radio-one" class="form-radio" ng-model="question.q5" value="no"><label for="radio-one">I can do without parks</label>
                <br> <br>
                <button type="submit" id="from5toResult" ng-click="getStatesQ5()">Get Result</button>
            </form>

            <form id="result">
                <div id="resultData">
                    <table>
                        <tr>
                          <th>
                            <h1>Your state is </h1>
                            <h1>{{stateName}}</h1>
                            <p><span class="labelForP">State nickname: </span>{{stateNickname}}</p>
                          </th>
                          <th><p id="pForImg">{{stateImage}}</p></th>
                        </tr>
                        <tr>
                          <td>
                              <p>{{stateTempJanuary}} <span class="labelForP">F in January</span></p>
                              <p>{{stateTempJuly}} <span class="labelForP">F in July</span></p>
                          </td>
                          <td>
                              <p><span class="labelForP">Number of national parks: </span>{{stateNumParks}}</p>
                              <p><span class="labelForP">Per capita income: </span>{{statePerCapitaIncome}}<span class="labelForP">$</span></p>
                              <p><span class="labelForP">Crime rate (per 100,000 population): </span>{{stateCrimeRate}}</p>
                          </td>
                        </tr>
                      </table>
                  <p><span class="labelForP">Fun facts: </span>{{stateFunFacts}}</p>
              </div>
                <button type="submit" id="Tryagain" ng-click="clearRadio()">Try again</button>
            </form>

        </div>
    </div>

  <div id="data-map">
      <div id="controls">
          <div class="custom-select">
          <!-- <select id="census-variable">
            <option value="https://storage.googleapis.com/mapsdevsite/json/DP02_0066PE.json">Population over 25 that completed high school</option>
            <option value="https://storage.googleapis.com/mapsdevsite/json/DP05_0017E.json">Median age</option>
            <option value="https://storage.googleapis.com/mapsdevsite/json/DP05_0001E.json">Total population</option>
            <option value="https://storage.googleapis.com/mapsdevsite/json/DP02_0016E.json">Average family size</option>
            <option value="https://storage.googleapis.com/mapsdevsite/json/DP03_0088E.json">Per-capita income</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/GrossDomesticProductperCapita.json?generation=1574196973432878&alt=media">Gross Domestic Product  per Capita ($ Dollars)</option>
            
            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/HighSchoolAttainment.json?generation=1574197235523339&alt=media">High School Attainment</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/NumberOf4-YearCollegesandUniversities.json?generation=1574197734755235&alt=media">Number of 4-Year Colleges and Universities</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/UnemploymentRate.json?generation=1574197908951495&alt=media">Unemployment Rate</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/Well-BeingIndex.json?generation=1574198047955146&alt=media">Well-Being Index</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/statepopulationdensity.json?generation=1574202990492770&alt=media">State population density (people / square mile)</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/PovertyRate.json?generation=1574446941948992&alt=media">Poverty Rate (%)</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/StateIndividualIncomeTaxTopRate.json?generation=1574449303849820&alt=media">State Individual Income Tax Top Rate (%)</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/StateCorporateIncomeTaxTopRate.json?generation=1574450289306604&alt=media">State Corporate Income Tax Top Rate (%)</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/StateandLocalTaxRevenueasaPercentageofPersonalIncome.json?generation=1574451383270443&alt=media">State and Local Tax Revenue as a Percentage of Personal Income (%)</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/StateSalesTaxRate.json?generation=1574453403902006&alt=media">State Sales Tax Rate (%)</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/AverageRetailPricePerkWh.json?generation=1574454570524406&alt=media">Average Retail Price Per kWh, Commercial (Cents)</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/NaturalGasperThousandCubicFeet.json?generation=1574461597568032&alt=media">Natural Gas, Cost per Thousand Cubic Feet, Commercial ($ Dollars)</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/Average-temperature-in-July.json?generation=1575314740717018&alt=media">Average temperature in July (in degrees Fahrenheit)</option>

            <option value="https://www.googleapis.com/download/storage/v1/b/my-map-app-jsons/o/Average-temperature-in-January.json?generation=1575316336637939&alt=media">Average temperature in January (in degrees Fahrenheit)</option>

          </select> -->

          <!-- <form name="myForm">
            <select name="singleSelect" ng-model="data.singleSelect">
              <option value="option-1">Option 1</option>
              <option value="option-2">Option 2</option>
            </select>
          </form> -->

          <select id="census-variable" ng-model="censusSelect" ng-options="census.name for census in censuses" ng-change="change()"></select>

          </div>
      </div>
          <div id="legend">
              <div id="census-min">min</div>
              <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
              <div id="census-max">max</div>
            </div>
          
            <div id="data-box">
                <label id="data-label" for="data-value"></label>
                <span id="data-value"></span>
            </div>
  </div>

  <div id="map"></div>

  <script type='text/javascript' src='scripts/script.js'></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
    </script>
  </body>
</html>